<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
  {{message}}
  </h1>
</div>
<h2>
<!-- <app-interpolation></app-interpolation> -->
<!-- <app-propertybinding></app-propertybinding> -->
<!-- <app-stylebinding></app-stylebinding> -->
<!-- <app-classbinding></app-classbinding> -->
<!-- <app-eventbinding></app-eventbinding> -->
<!-- <app-test></app-test> -->
<!-- <app-template-referencevariable></app-template-referencevariable> -->
<!-- <app-twowaybinding></app-twowaybinding> -->
<!-- <app-ngif></app-ngif> -->
<!-- <app-ngswitch></app-ngswitch> -->
<!-- <app-ngfor></app-ngfor> -->
<!-- <app-componentinteraction
  [parentData]="name" [parentData1]="name" (childevent)="message=$event">
</app-componentinteraction> -->
<!-- <app-list></app-list> -->
<!-- <app-listdetail></app-listdetail> -->
<!-- <app-pipes></app-pipes> -->
<app-usinghttp></app-usinghttp>
</h2>